@import '~@/assets/styles/keyframes';
.pyramid_loader {
    position: absolute;
    width: 300px;
    height: 300px;
    display: block;
    top: calc(50% - 150px);
    left: calc((50% - 150px));
    transform-style: preserve-3d;
    transform: rotateX(-20deg);
    background-color: rgba($color: #171717, $alpha: 0.5);
    border-radius: 30px;
}
.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: spin 4s linear infinite;
    .side {
            width: 70px;
            height: 70px;
            /* you can choose any gradient or color you want */
            /* background: radial-gradient( #2F2585 10%, #F028FD 70%, #2BDEAC 120%); */
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            transform-origin: center top;
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
                .side1 {
                    transform: rotateZ(-30deg) rotateY(90deg);
                    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
                }
                .side2 {
                    transform: rotateZ(30deg) rotateY(90deg);
                    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
                }
                .side3 {
                    transform: rotateX(30deg);
                    background: conic-gradient(#2F2585, #D8CCE6, #F028FD, #2BDEAC);
                }
                .side4 {
                    transform: rotateX(-30deg);
                    background: conic-gradient(#2BDEAC, #F028FD, #D8CCE6, #2F2585);
                }
                .shadow {
                    width: 60px;
                    height: 60px;
                    background: #8B5AD5;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    transform: rotateX(90deg) translateZ(-40px);
                    filter: blur(12px);
                }
}





