@import '~@/assets/styles/vars';
@import '~@/assets/styles/keyframes';

.sidebar{
    width: 200px;
    height: calc(100vh - 70px);
    border-right: 2px solid rgba($color: $grey-color, $alpha: 0.2);
    padding: 20px;
    text-align: left;
    font-size: 20px;
    overflow: scroll;
    
    
    >h4{
        font-size: 1.7em;
        font-weight: 400;
        margin-bottom: 20px;
        text-align: center;
    }
   
    p{
        font-size: 1.4em;   
        line-height: 140%;
        cursor: pointer;
    }
    .categories{
        animation: leftJump_animation 1s ease-in-out;
    }
    
}