@import "~@/assets/styles/vars";
.review__input{
    width: 95%;
    // background-color: white;
    border-radius: 15px;
    min-height: 80px;
    padding: 8px 2%;
    background-color: $primary-color;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    >.review__textarea{
        background-color: rgba($color: $black_color, $alpha: 0.5);
        width: 95%;
        height: 100px;
        margin: 0 auto;
        resize: none;
        border: none;
        outline: none;
        padding: 5px 10px;
        font-size: 1.1em;
        line-height: 1em;
        font-weight: 100;
        color: $grey_color;
        margin-top: 10px;
        border: 2px solid $border_color;
        border-radius: 10px;
        font-family: $secondary-font;
    }
    .review__input__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        .button{
            width: 80px;
            height: 40px;
            border-radius: 10px;
            background-color: $black-color;
            border: 2px solid $border_color;
            cursor: pointer;
            transition: all .5s ease-in-out;
            &:hover{
                background-color: $border_color;
                border: 2px solid $grey-color;
                .icon{
                    color: $green_color;
                }
            }
            .icon{
                transition: all .1s ease-in-out;
                color: $grey_color;
            }
        }
        .disabled{
            opacity: 0.9;
            filter: blur(2px);
            &:hover{
                background-color: $black-color;
                border: 2px solid $border_color;
                .icon{
                    color: $grey_color;
                }
            }
        }
    }
        
}
