@import "~@/assets/styles/vars";
.review__input{
    width: 95%;
    border-radius: 15px;
    min-height: 80px;
    padding: 8px 12px;
    background-color: $primary-color;
    margin: 0px auto;
    >textarea{
        
    }
}