@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply text-base text-black
}
.disabed{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.2!important;
}