@import "~@/assets/styles/vars";
.header{
    height: 70px;
    border-bottom: 2px solid rgba($color: $grey-color, $alpha: 0.2);
    padding: 0 10px 0 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .right_part {
            // display: flex;
            // gap: 40px;

            // align-items: center;
            position: relative;       
            padding-right: 40px;
            img{
               height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;
                border: 1px solid $grey-color;
            }
            .quantity{
                background-color: $secondary-color;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                position: absolute;
                top: 6px;
                left: -7px;
                filter: blur(3px);
            }
    }
    .logo > a{
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey-color;
    }
    .nav{
        font-size: 1.5em;
        text-transform: uppercase;
        >a{
            margin: 0 10px;
            text-decoration: none;
            color: $grey-color;
        }
    }
    .input{
        &:focus{
            padding: 2px 20px;
        }
    }

        
}
@media screen and (max-width: 760px){
    .header{
        padding: 0 20px;
        .search{
            display: none;
        }
    }
}