@import "~@/assets/styles/vars";
.header{
    height: 70px;
    border-bottom: 2px solid rgba($color: $grey-color, $alpha: 0.2);
    padding: 0 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .logo > a{
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey-color;
    }
    .nav{
        font-size: 1.5em;
        text-transform: uppercase;
        >a{
            margin: 0 10px;
            text-decoration: none;
            color: $grey-color;
        }
    }
    .input{
        &:focus{
            padding: 2px 20px;
        }
    }
}
@media screen and (max-width: 760px){
    .header{
        padding: 0 20px;
        .search{
            display: none;
        }
    }
}