@import '~@/assets/styles/vars';
.button {
	padding-top: 2px;
	padding-bottom: 6px;
	font-family: $main-font-family;
	font-size: 1.2em;
	color: $gray-color;
	border: none;
	outline: none;
	border-radius: 7px;
	cursor: pointer;
	background-color: $primary-color;
	transition: 0.3s ease-in-out;
	text-align: center;
	&:hover {
		background-color: $secondary-color;
		color: $primary-color;
	}
}
