$main-font-family: 'Darker Grotesque', sans-serif;




// colors
$black-color: #2C2F35;
$primary-color: #171717;
$grey-color:#d3d3d3;
$blue-color: #1D64EC;
$green-color: #0B9A55;
$secondary-color: #FF9902;
$background-color: #212121;