// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import './imports';
@import './vars';

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $main-font-family;
  color: $grey-color;
    background-color: $black-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-family: $main-font-family;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 0px;
}
a{
  text-decoration: none;
  color: $grey-color;
  &:hover{
   cursor: pointer;
  }
  &:visited{
    color: $grey-color;
  }
  textarea{
    font-family: $main-font-family;
  }
}