@import '~@/assets/styles/keyframes';
.section{
    h1{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    width: 100%;
    padding: 20px;
    .products{
        width: fit-content;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        overflow: scroll;
        height: 76vh;
        animation: product_animation 1s 1 ease-in-out;
    }
}


@media screen and (max-width: 1200px){
    section{
        .products{
            grid-template-columns: repeat(3, 1fr) !important;
        }
    }
}
@media screen and (max-width: 992px){
    section{
        .products{
            
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }
}
    

    
